<!-- app/menu/menu.component.html -->

<mat-toolbar color="primary">
  <span class="menu-title">Tareas</span>
  <mat-nav-list>
    <a mat-list-item routerLink="/clientes" routerLinkActive="active-link">Clientes</a>
    <a mat-list-item routerLink="/productos" routerLinkActive="active-link">Productos</a>
    <a mat-list-item routerLink="/usuarios" routerLinkActive="active-link">Usuarios</a>
    <a mat-list-item routerLink="/facturacion" routerLinkActive="active-link">Facturación</a>
  </mat-nav-list>
</mat-toolbar>

<router-outlet></router-outlet>
