/* app/menu/menu.component.css */

.mat-toolbar {
  justify-content:center;;
}

.menu-title {
  font-size: 1.5em;
  font-weight: bold;
}

.mat-toolbar .mat-mdc-list-base {
  margin-left: 1em;
  display: flex;
}
.mat-nav-list a {
  width: auto;
  text-decoration: none;
  color: white;
}
.mat-mdc-list-item, .mat-mdc-list-option {
  width: auto;
}

.mat-nav-list a:hover {
  background-color: gray;
}

.active-link {
  background-color: white;
}
